<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='table_style.css') }}">
    <link rel="stylesheet" , type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<form action="/loc" name="myform" method="post">
    <Select size=10 onchange="myform.submit()" name="loc">
        {% for ascent in ascents%}
        <option> {{ ascent.country, ascent.location, ascent.style,
            ascent.category }}
        </option>
        {% endfor %}
    </select>
</form>

</body>
</html>